version: '2'

services:
  bind:
    restart: always
    image: rojtertech/dns
    ports:
    - "53:53/udp"
    - "53:53/tcp"
    - "10000:10000/tcp"
    volumes:
    - /var/dockerdata/certs/rojter.tech:/data/webmin/etc/certs